div#main-nav   
    .logo
        p.pl-4 Admin
    .mb-4.px-4
        p.pl-4.text-sm.font-semibold.mb-1.text-lg Items
            each menuElt in JSON.parse(meta.sideMenu)
                div.sidenav-item 
                    div.w-48=menuElt
                    a(href=`#model=${menuElt}&action=NEW` class="sidenav-item-link")
                        div add
                    div &nbsp;
                    button(class="sidenav-item-link" onclick="window.location.href='#model="+ menuElt +"&action=findMany'") view