doctype html
html(lang="en").w-full.dark
  head
    title= pageTitle
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://cdn.tailwindcss.com")
  body.leading-normal.tracking-normal.w-full(class="dark:bg-slate-800")#main-body
    .flex.flex-wrap
    