doctype html
html(lang="en").w-full.dark
  head
    title= pageTitle
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://cdn.tailwindcss.com")
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pluralize/8.0.0/pluralize.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/redux/4.2.1/redux.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/redux-thunk/2.4.2/redux-thunk.min.js")

    link(ref="stylesheet" href="/assets/all.css")
    script(type="module" src="/lib/app.mjs")
    style
      include ../../../dist/assets/all.css

  body
    main
      block loading
      block dashboard
