aside#default-sidebar.transition-transform(class="w-1/6 -translate-x-full.sm:translate-x-0" aria-label="Sidebar")
  .h-full.px-3.py-4.overflow-y-auto.bg-gray-50
    .flex.flex-auto.justify-between
        div
            button(onclick="window.APP.stores.storeRightbar.dispatch(false)") X
        div Side
    hr
      