div(class="block p-6 bg-white border border-gray-200 rounded-lg")
    div.form__main-header List
    hr.mb-4.mt-4
    div.row.table.w-full
    
    script(defer).
        window.addEventListener("DOMContentLoaded", async function() {
            if(window.APP.currentRoute.path.action === "list") {
                window.APP.tableRenderer.buildTable(
                    ".table",
                    window.APP.currentRoute,
                    !{JSON.stringify(meta.$models)}
                );
            }
        });
link(href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css")
script(src="https://cdn.jsdelivr.net/npm/simple-datatables@latest")
link(href="/assets/all.css")
